{%extends 'base.html'%}


{%block body_block%}



<div class="row mt-lg-5">
    <div class="col-4"></div>
    <div class="col-4">

       <div class="card text-bg-primary mb-3 mt-5" style="max-width: 30rem;">
  <div class="card-body">
    <h3 class="card-title ms-5" ></h3>
    <p class="card-text">

            <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
      <div class="ms-5">  <button type="submit" class="btn btn-outline-btn-dark  ms-5">Save </button></div>


    </div>
    <div class="col-4"></div>
</div>

{%endblock%}